<nav
  class="bg-white border-b border-gray-300 px-6 py-5 flex justify-between items-center shadow-sm sm:px-12"
>
  <div class="flex items-center space-x-4">
    <lucide-angular
      [name]="bookIcon"
      [size]="25"
      color="oklch(59.6% 0.145 163.225)"
    ></lucide-angular>
    <a routerLink="/home" class="text-lg font-semibold hover:text-slate-600">
      <span class="text-blue-700">E-Learn</span>
      <span class="text-emerald-600 ml-1">Platform</span>
    </a>
  </div>
  <div class="hidden md:flex items-center space-x-8">
    <a
      routerLink="/"
      class="relative group text-slate-700 text-lg font-semibold hover:text-slate-800"
    >
      Home
      <span
        class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-600 transition-all duration-300 group-hover:w-full"
      ></span>
    </a>
    <a
      routerLink="/create-course"
      class="relative group text-slate-700 text-lg font-semibold hover:text-slate-800"
    >
      Create Course
      <span
        class="absolute left-0 bottom-0 w-0 h-0.5 bg-blue-600 transition-all duration-300 group-hover:w-full"
      ></span>
    </a>
  </div>
</nav>

<div class="bg-gray-100 min-h-screen px-4">
  <div class="container mx-auto px-4 py-8 ">
  <div
    class="flex flex-col md:flex-row justify-between items-center mb-6 gap-4"
  >
    <h1 class="text-xl font-bold text-blue-600">Course List</h1>
    <input
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange()"
      type="text"
      placeholder="Search courses..."
      class="border border-gray-300 bg-white rounded-lg w-full md:w-96 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div
    *ngIf="!loading && videos.length === 0"
    class="text-center text-gray-500 py-12 text-lg"
  >
    No courses found.
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
    *ngIf="!loading && videos.length"
  >
    <div
      class="bg-white rounded-lg shadow-md p-4 border border-gray-200 hover:shadow-lg transition-shadow duration-300"
      *ngFor="let course of videos"
      (click)="onCourseClick(course)"
    >
      <img
        [src]="course.thumbnailUrl"
        alt="Course Thumbnail"
        width="400"
        height="256"
        class="w-full h-64 object-cover rounded-lg mb-4"
      />

      <h2 class="text-lg font-semibold text-blue-600 mb-2">
        {{ course.title }}
      </h2>
      <p class="text-gray-700 mb-4">{{ course.description }}</p>
      <div class="flex justify-between items-center">
        <span
          class="text-sm font-medium bg-gray-300 text-slate-800 px-5 rounded-lg"
          >{{ course.category }}</span
        >
        <span
          class="text-sm font-medium bg-gray-300 text-slate-800 px-5 rounded-lg"
        >
          {{ course.uploadDate | date: 'dd/MM/yyyy' }}
        </span>
      </div>
    </div>
  </div>
</div>
</div>
