.recipes-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
  padding: 20px 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.no-recipes-found{
  text-align: center;
  font-size: 1.5rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}