<div class="p-6">
  <div class="p-6 mb-4 flex justify-end gap-4 bg-gray-100 rounded-lg shadow">
    <input
      [(ngModel)]="genderFilter"
      placeholder="Filter by gender"
      class="border-2 p-2 border-slate-500 rounded-md"
    />
    <input
      [(ngModel)]="roleFilter"
      placeholder="Filter by role"
      class="border-2 p-2 border-slate-500 rounded-md"
    />
    <input
      [(ngModel)]="stateFilter"
      placeholder="Filter by state"
      class="border-2 p-2 border-slate-500 rounded-md"
    />
    <select
      [(ngModel)]="ageFilter"
      class="border-2 p-2 border-slate-500 px-3 rounded-md"
    >
      <option value="">Select Age Range</option>
      <option value="18-25">18-25</option>
      <option value="26-35">26-35</option>
      <option value="36-45">36-45</option>
      <option value="46-55">46-55</option>
      <option value="56-65">56-65</option>
      <option value="66+">66+</option>
    </select>
    <button
      (click)="applyFilters()"
      class="bg-slate-500 text-white px-9 rounded-md hover:bg-slate-400"
    >
      Filter
    </button>

    <button
      (click)="addUsers()"
      class="bg-teal-700 text-white px-9 rounded-md hover:bg-teal-800"
    >
      Add New Users
    </button>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4">
    <div
      *ngFor="let user of displayedUsers"
      class="bg-white shadow-md rounded-lg overflow-hidden p-4 flex flex-col items-center text-center border-slate-500 text-white hover:bg-slate-200 duration-300 "
    >
      <img
        [src]="user.image"
        alt="{{ user.firstName }}"
        class="w-24 h-24 rounded-full mb-4 border-2 border-slate-500 object-cover"
      />

      <h2 class="text-lg font-bold text-gray-800">
        {{ user.firstName }} {{ user.lastName }}
      </h2>

      <p class="text-sm text-gray-500 mb-1">Username: {{ user.username }}</p>
      <p class="text-sm text-gray-500 mb-1">Gender: {{ user.gender }}</p>
      <p class="text-sm text-gray-500 mb-1">Age: {{ user.age }}</p>
      <p class="text-sm text-gray-500 mb-1">Email: {{ user.email }}</p>
      <p class="text-sm text-gray-500 mb-1">Phone: {{ user.phone }}</p>
      <p class="text-sm text-gray-500 mb-1">State: {{ user.address.state }}</p>
      <p class="text-sm text-emerald-600 font-semibold">Role: {{ user.role }}</p>

      <!-- <button
        class="flex items-center mt-5 justify-center gap-2 w-full bg-slate-600 text-white py-2 rounded-md hover:bg-slate-700 transition-colors duration-300"
        (click)="viewDetails(user.id)"
        >
        <lucide-angular
          [name]="viewIcon"
          class="w-5 h-5 text-white"
        ></lucide-angular>
        View Details
      </button> -->
    </div>
  </div>
  <div *ngIf="displayedUsers.length === 0" class="text-center text-red-500">
    No users found matching the filter criteria.
  </div>
</div>
