<div
  class="font-sans antialiased text-gray-800 bg-[#f3f0ff] min-h-1/2 flex items-center justify-center p-4"
>
  <main class="relative w-full max-w-6xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-12">
      <div class="flex flex-col justify-center relative px-4 lg:px-0">
        <img
          src="assets/lamp.png"
          alt="Pendant Lamp"
          class="hidden lg:block absolute -top-20 -left-10 w-24 md:w-32"
        />

        <span class="w-3 h-3 bg-pink-500 rounded-full mb-6"></span>

        <p
          class="text-pink-500 font-semibold text-sm uppercase tracking-wider text-center lg:text-left"
        >
          Best Furniture For Your Castle...
        </p>

        <h1
          class="text-3xl sm:text-4xl md:text-5xl font-bold my-4 text-gray-900 leading-tight text-center lg:text-left"
        >
          New Furniture<br class="hidden sm:inline" />
          Collection Trends
        </h1>

        <p
          class="text-gray-600 max-w-md text-center lg:text-left mx-auto lg:mx-0"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est
          adipiscing in phasellus non in justo.
        </p>

        <button
          class="mt-6 bg-pink-500 text-white font-bold py-3 px-8 rounded-lg shadow-lg hover:bg-pink-600 transition-all duration-300 w-fit mx-auto lg:mx-0"
        >
          Shop Now
        </button>
      </div>

      <div class="relative flex items-center justify-center">
        <div
          class="absolute w-72 h-72 md:w-96 md:h-96 bg-purple-200/50 rounded-full z-0 mt-20"
        ></div>

        <img
          src="assets/chair.png"
          alt="Pink scalloped armchair"
          class="z-10 w-64 h-64 sm:w-80 sm:h-80 md:w-96 md:h-96 mt-40"
        />
        <div
          class="absolute top-4 right-4 md:top-32 md:right-10 bg-blue-500 text-white w-16 h-16 sm:w-20 sm:h-20 flex items-center justify-center rounded-full text-center font-bold text-sm sm:text-xl shadow-xl -rotate-12"
        >
          <span>50%<br />off</span>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="flex flex-col items-center justify-center bg-white p-8 mt-12">
  <h2 class="text-[#151875] text-2xl font-medium mb-6">Categories</h2>

  <div class="w-full overflow-x-auto flex items-center justify-center">
    <div class="flex gap-4 px-4">
      <div
        *ngFor="let category of categories"
        class="relative flex-shrink-0 w-32 sm:w-36 h-auto text-center cursor-pointer"
        (click)="goToCategory(category.name)"
      >
        <div
          class="absolute inset-x-0 top-0 w-32 sm:w-36 h-32 sm:h-36 bg-purple-200/50 rounded-full z-0 mx-auto"
        ></div>
        <img
          [src]="category.image"
          [alt]="category.name"
          class="w-24 h-24 sm:w-28 sm:h-28 z-10 mt-2 relative mx-auto"
        />
        <p class="mt-8 text-sm sm:text-lg font-medium text-[#151875]">
          {{ category.name }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col items-center justify-center mt-10 px-4">
  <p class="text-[#151875] text-2xl font-medium text-center">What we offer?</p>

  <div
    class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full max-w-6xl"
  >
    <div
      *ngFor="let offer of offers"
      class="w-full rounded-lg shadow-purple-200/50 shadow-md p-4 bg-white flex flex-col items-center"
    >
      <img
        [src]="offer.image"
        [alt]="offer.title"
        class="w-30 h-30 object-contain"
      />
      <p class="text-[#151875] font-medium text-lg mt-3 text-center">
        {{ offer.title }}
      </p>
      <p class="text-gray-600 text-sm text-center mt-1">
        {{ offer.description }}
      </p>
    </div>
  </div>
</div>

<div class="flex flex-col items-center justify-center mt-10 px-4">
  <p class="text-[#151875] text-2xl font-medium text-center">Latest Blogs</p>

  <div
    class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full max-w-6xl"
  >
    <div
      *ngFor="let news of latestNews"
      class="w-full rounded-lg shadow-purple-200/50 shadow-md p-4 bg-white flex flex-col items-center"
    >
      <img
        src="assets/offers/news.jpg"
        [alt]="news.title"
        class="w-full h-40 object-cover rounded-lg mb-3"
      />
      <p class="text-[#151875] font-medium text-lg mt-3 text-center">
        {{ news.title }}
      </p>
      <p class="text-gray-600 text-sm text-center mt-1">
        {{ news.description }}
      </p>
    </div>
  </div>
</div>
